@media screen and (max-width: 600px) {
    body{
        background: blue;
    }    
    .container{
        margin: auto;
        display: grid;
        grid-template: 90px auto / auto;
        width: 100%;
    }
    .header-container{
        background: skyblue;
        height: 90px;
        width: 100%;
    }
    .header-top{
        height: 54px;
        width: 100%;
    }
    .header-buttom{
        height: 36px;
        width: 100%;
    }
}